<div class="row">
    <div class="col-md-12 pt-3 pb-3 pl-5 xm-titleform ">
        <h5>Listado de requisitos</h5>
    </div>
    <!-- <div class="xm-linea"></div> -->
</div>

<div class="xm-newet">
    <div class="row align-items-center justify-content-around xm-colesBotones">
        <div class="col-1"><button type="button" class="btn btn-primary xm-btnrequi btn-day-stand-out"><span>180</span><span class="xm-dia">dias</span></button></div>
        <div class="col-1"><button type="button" class="btn btn-primary xm-btnrequi"><span>90</span><span class="xm-dia">dias</span></button></div>
        <div class="col-1"><button type="button" class="btn btn-primary xm-btnrequi"><span>30</span><span class="xm-dia">dias</span></button></div>
        <div class="col-1"><button type="button" class="btn btn-primary xm-btnrequi"><span>15</span><span class="xm-dia">dias</span></button></div>
        <div class="col-1"><button type="button" class="btn btn-primary xm-btnrequi"><span>10</span><span class="xm-dia">dias</span></button></div>
        <div class="col-1"><button type="button" class="btn btn-primary xm-btnrequi"><span>5</span><span class="xm-dia">dias</span></button></div>
        <div class="col-1"><button type="button" class="btn btn-primary xm-btnrequi"><span>3</span><span class="xm-dia">dias</span></button></div>
        <div class="col-1"><button type="button" class="btn btn-primary xm-btnrequi"><span>Día</span> previo</button></div>
    </div>
</div>


<article class="xm-table col-md-12">
        <app-table-xm   [arrayList]="arrayList" [columNameList]="columNameList"
        [rowNameList]="rowNameList" [columNameSortList]="columNameSortList"
        [collectionSize]="respTable.metadata.pagination.totalCount"
        [pageSize]="respTable.metadata.pagination.limit" [filterInfo]="filterInfo" [buttonList]="buttonListReq"
        (tableXmEmitter)="onEventChild($event)" (functionButton)="eventClickInButtons($event)"
        [page]="respTable.metadata.pagination.currentPage"
        [rowStyle]="rowStyle" [load]="!load"
        >
    </app-table-xm> 

</article>

<div class="col-md-2 offset-md-10">
    <button class="xm-btn xm-btnsecondary " (click)="onClickBack()">
    Atras
</button>
</div>