<section class="container-fluid">
    <article class="row">

        <app-navbar class="col-md-2 p-0"></app-navbar>

        <main id="xm-main" class="col-md-10 ml-sm-auto col-lg-10 px-0">

            <article class="xm-topbar">
                <div class="row align-items-center w-100">
                    <div class="col-md-7">
                        <div class="">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Registro</li>
                                <li class="breadcrumb-item">Transmisión</li>
                                <li class="breadcrumb-item active" aria-current="page">Formulario</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <ul class="xm-usertop">
                            <li>
                                <a href="">
                                    <i class="material-icons">face</i> <span>Bienvenido</span> Daniel@xm.com
                                </a>
                            </li>
                            <li>
                                <a class="xm-notf" href="">
                                    <i class="material-icons">notifications_none</i>
                                    <span> 20 </span>
                                </a>
                            </li>
                            <li>
                                <form action="">
                                    <a href="">
                                        <i class="material-icons">search</i>
                                    </a>
                                </form>

                            </li>
                        </ul>
                    </div>
                </div>
            </article>

            <article class="xm-forms ">
                <router-outlet></router-outlet>
            </article>

            <app-footer></app-footer>

        </main>

    </article>
</section>